.promise-neighborhoods-navigation {}

.dropdown-menu > li > a {
    width: 100%;
    text-align: left !important;
}

/* Chrome, Safari, AND NOW ALSO the Windows 11+ Edge Browser */
@supports (-ms-ime-align: auto) {
    .promise-neighborhoods-header nav ul li a {
        display: inline !important;
    }

    .promise-neighborhoods-header nav ul li a:hover {
        text-decoration: none;

        //border-bottom: 3px solid;
        padding-bottom: 6px !important;

        //   border-color: $orange;
   
    }
}

@supports (-ms-accelerator: true) {
    .promise-neighborhoods-header nav ul li a {
        display: inline !important;
    }
}

@supports (-ms-accelerator: true) and (not (color: unset)) {
    .promise-neighborhoods-header nav ul li a {
        display: inline !important;
    }
}
