.promise-neighborhoods-content {
    .header-wrapper {
        h1 {}
    }

    a {}

    section {}

    section.mainImage {
        img {
            margin-top: 126px;
        }
    }

    .container {
        p {}

        p.dark-grey {}
    }

    /////// BEGIN HOME PAGE STYLING ///////

    section.welcome, section.innerPage {}

    section.home-curve {
        min-height: 35px;
    }

    section.home-features {
        .feature-block {
            h3 {
                .fa {}
            }

            h4 {}

            h5 {}

            p {}

            span.date {}

            .feature-header-left {}

            .feature-header-right {}

            .feature-body {}

            .feature-footer {
                a.feature-btn {
                    &:hover {}
                }
            }
        }
    }

    /////// END HOME PAGE STYLING ///////

    /////// BEGIN INTERNAL PAGE STYLING ///////

    section.innerPage {
        h1 {
            span.photo-credit {}
        }

        h2 {}

        h3 {
            margin-top: 40px;
            font-size: 22px;
        }

        ul {
            li {}
        }

        .btn {}

        .circle-container {
            width: $circle-size;

            .light-blue-circle {
                width: $circle-size;
                height: $circle-size;

                .fa {
                    font-size: 95px;
                }
            }

            .orange-circle {
                width: $circle-size;
                height: $circle-size;

                .fa {
                    font-size: 95px;
                }
            }
        }
    }

    section.innerPage-gradient {
        .author {}
    }

    /////// END INTERNAL PAGE STYLING ///////
}
