.promise-neighborhoods-content {
    .header-wrapper {
        h1 {}
    }

    a {}

    section {}

    section.mainImage {
        img {
            margin-top: 150px;
        }
    }

    .container {
        p {}

        p.dark-grey {}
    }

    /////// BEGIN HOME PAGE STYLING ///////

    section.welcome, section.innerPage {}

    section.home-curve {
        min-height: 35px;
    }

    section.home-features {
        .feature-block {
            &:first-child {
                margin-bottom: 50px;
            }

            h3 {
                .fa {}
            }

            h4 {}

            h5 {}

            p {}

            span.date {}

            .feature-header-left {
                padding: 28px 10px 10px;
            }

            .feature-header-right {
                padding: 20px 10px 10px;
            }

            .feature-body {}

            .feature-footer {
                a.feature-btn {
                    &:hover {}
                }
            }
        }
    }

    /////// END HOME PAGE STYLING ///////

    /////// BEGIN INTERNAL PAGE STYLING ///////

    section.innerPage {
        h1 {
            span.photo-credit {
                font-size: 14px;
            }
        }

        h2 {}

        h2.dashboard-topic {}

        h3 {
            margin-top: 20px;
            margin-bottom: 20px;
            font-size: 20px;
        }

        ul {
            li {}
        }

        .btn {}

        .circle-container {
            width: 100px;

            .light-blue-circle {
                width: 120px;
                height: 120px;

                .fa {
                    font-size: 65px;
                }
            }

            .orange-circle {
                width: 120px;
                height: 120px;

                .fa {
                    font-size: 65px;
                }
            }
        }
    }

    section.innerPage-gradient {
        .author {}
    }

    /////// END INTERNAL PAGE STYLING ///////
}

@supports (-ms-ime-align: auto) {
    .promise-neighborhoods-content section.mainImage img {
        margin-top: 134px;
    }
}
