.promise-neighborhoods-content {
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;

    .header-wrapper {
        display: block;
        width: 100%;
        margin: 0;
        padding: 0;

        h1 {
            @include h1-header;
        }
    }

    a {
        color: #2C8AF9;
        text-decoration: underline;

        &:hover {
            color: $light-blue;
        }
    }

    section {
        display: block;
        width: 100%;
    }

    section.mainImage {
        img {
            width: 100%;
            margin-left: auto;
            margin-right: auto;
        }

        .image-credit {
            display: block;
            background-color: $white;
            width: 100%;
            -khtml-opacity: .70;
            -moz-opacity: .70;
            -ms-filter: ”alpha(opacity = 70) ”;
            filter: alpha(opacity = 70);
            filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0.7);
            opacity: .70;
            height: 50px;
            position: absolute;
            z-index: 300;
            bottom: 0px;
        }

        .image-credit-text {
            display: block;
            color: $text-color;
            z-index: 350;
            position: absolute;
            bottom: 13px;
            left: 20px;
            font-weight: bold;
            font-style: italic;
        }
    }

    .container {
        display: block;
        padding: 20px 0;

        p {
            display: block;
            color: $light-blue;
            font-size: 16px;
        }

        p.dark-grey {
            color: $dark-grey;
        }
    }

    /////// BEGIN HOME PAGE STYLING ///////
    section.welcome, section.innerPage {
        background-color: $white;
        padding-bottom: 20px;
    }

    section.welcome {
        padding-top: 1px;
    }

    section.home-curve {
        //border-radius: 0 0 60% 60% / 50%;
        //-moz-border-radius: 0 0 60% 60% / 50%;
        //-webkit-border-radius: 0 0 60% 60% / 50%;

        border-radius: 50%;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        height: 100%;
        width: 100%;
        background-color: $white;
        z-index: 450;
        position: relative;
        min-height: 115px;

        &:before {
            content: "";
            display: block;
            height: 60%;
            width: 100%;
            background-color: $white;
            z-index: 420;
            position: absolute;
            top: -5px;
        }
    }

    section.home-features {
        background-image: url("../images/chalkboard-bg.png");
        background-repeat: repeat;
        background-color: $background-blue;
        min-height: 300px;
        margin-top: -40px;
        padding-bottom: 30px;

        .feature-block {
            display: block;
            width: 100%;
            font-family: 'Raleway', sans-serif;

            h3 {
                color: $white;
                font-size: 20px;
                font-weight: normal;
                text-align: center;

                .fa {
                    display: inline-block;
                    font-size: 22px;
                    font-weight: bold;
                }
            }

            h4 {
                color: $light-blue;
                font-size: 18px;
                font-weight: bold;
                margin: 15px 0 0;
            }

            h5 {
                color: $light-blue;
                font-size: 16px;
                font-weight: bold;
            }

            p {
                display: block;
                color: $text-color;
            }

            span.date {
                color: $orange;
                display: block;
                margin-top: 10px;
                font-size: 14px;
            }

            .feature-header-left {
                @include curve-head;
            }

            .feature-header-right {
                @include curve-head;
            }

            .feature-body {
                display: block;
                background-color: $feature-blue;
                position: relative;
                min-height: 200px;
                padding: 5px 20px;
            }

            .feature-footer {
                display: block;
                background-color: $feature-blue;
                border-radius: 0px 0px 8px 8px;
                -moz-border-radius: 0px 0px 8px 8px;
                -webkit-border-radius: 0px 0px 8px 8px;
                position: relative;
                padding: 5px 20px;
                min-height: 50px;
                overflow: hidden;

                a.feature-btn {
                    position: absolute;
                    display: block;
                    color: $dark-blue;
                    font-weight: bold;
                    right: -80px;
                    bottom: -30px;
                    width: 200px;
                    height: 75px;
                    background-color: $feature-blue;
                    -moz-border-radius: 100px / 50px;
                    -webkit-border-radius: 100px / 50px;
                    border-radius: 100px / 50px;
                    -webkit-box-shadow: inset 5px 5px 5px 0px rgba(0, 0, 0, 0.2);
                    -moz-box-shadow: inset 5px 5px 5px 0px rgba(0, 0, 0, 0.2);
                    box-shadow: inset 5px 5px 5px 0px rgba(0, 0, 0, 0.2);
                    cursor: pointer;
                    padding: 15px 0 0 30px;
                    text-decoration: none;

                    &:hover {
                        color: $orange;
                    }
                }
            }
        }
    }
}

/////// END HOME PAGE STYLING ///////

/////// BEGIN INTERNAL PAGE STYLING ///////

section.innerPage {
    font-family: 'Raleway', sans-serif;

    h1 {
        text-transform: uppercase;

        span.photo-credit {
            display: inline-block;
            font-weight: normal;
            font-style: italic;
            font-size: 50px;
            float: right;
            text-align: class;
            width: 20%;
            color: $light-blue;
            position: absolute;
            right: 15px;
        }
    }

    h2 {
        display: block;
        color: $light-blue;
        font-size: 34px;
        text-align: center;
        font-weight: normal;

        /*  width: 90%; */
        margin-right: auto;
        margin-left: auto;
        padding: 20px 0;
    }

    h2.main-page-title {}

    h2.dashboard-topic {
        text-align: left;
        line-height: 90px;
        margin-left: -22px;
    }

    h3 {
        display: block;
        color: $light-blue;
        text-align: center;
        margin-right: auto;
        margin-left: auto;
        font-weight: normal;
        text-transform: uppercase;
        line-height: 30px;
    }

    p {
        display: block;
        color: $text-color !important;
    }

    img {
        display: block;
        margin-right: auto;
        margin-left: auto;
    }

    img.img-responsive.text-left {
        margin: 0;
    }

    ul {
        display: block;
        list-style: none;
        margin: 0;
        padding: 0;

        li {
            color: $light-blue;
            display: block;
            margin: 5px 0;
            text-align: left;
        }
    }
}

.btn {
    display: block;
    color: $white;
    max-width: 300px;
    font-size: 18px;
    font-weight: normal;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    padding: 10px 20px;
    text-transform: uppercase;
    border: none;
    background-color: $light-blue;
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
}

.circle-container {
    display: block;
    margin-right: auto;
    margin-left: auto;

    .light-blue-circle {
        @include circle;

        text-align: center;
        display: block;
        background-color: $light-blue;

        li {
            color: $light-blue;

            /* display: block; removing to fix formatting on admin menu */
            margin: 10px 0;
            text-align: left;

            .fa {
                position: relative;
                top: 50%;
                -ms-transform: translateY(-50%);
                -webkit-transform: translateY(-50%);
                transform: translateY(-50%);
            }
        }

        .orange-circle {
            @include circle;

            text-align: center;
            display: block;
            background-color: $orange;

            .fa {
                position: relative;
                top: 50%;
                -ms-transform: translateY(-50%);
                -webkit-transform: translateY(-50%);
                transform: translateY(-50%);
            }
        }
    }
}

.item-list .pager {
    clear: both;
    text-align: center;
    display: inline-flex;
}

li.pager-current {
    position: relative;
    top: 5px;
}

body.not-front {
    h2 {
        text-align: left;
        font-size: 30px;
        margin: 0;
        padding-bottom: 0;
    }

    h2.text-center.main-page-title {
        text-align: center;
    }

    h2.search-title {
        border-top: solid 1px #c9c9c9;
        margin-top: 30px !important;
    }

    .views-field.views-field-field-publication-information {
        font-size: 13px;
        color: gray;
        padding: 0 0 14px 0;
    }

    div#block-facetapi-yc02ioh48plcwa63z5d2suqjww1vtyz8 {
        margin-top: 20px;
    }

    a.facetapi-checkbox {
        font-size: .85em;
    }

    .block-facetapi {
        h2 {
            font-size: 20px;
            padding-top: 0;
            color: #858585;
        }

        input[type="checkbox"], input[type="radio"] {
            box-sizing: border-box;
            margin: 0 5px 0 0;
        }

        border: solid 1px #c9c9c9;
        background: #eaeaea;
        padding: 7px 5px 5px 10px;
        margin-bottom: 10px;
    }

    .promise-neighborhoods-content section.innerPage h3 {
        margin: 40px 0 0 0;
        font-size: 22px;
        text-align: left;
        padding: 0;
    }

    section.innerPage h2 {
        /*   width: 100%;*/
    }

    .video-title .fa {
        display: inline !important;
    }
}

.wrapme {
    word-wrap: break-word;
}

//fix admin tabs
ul.tabs.primary li {
    display: inline;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.video-container iframe, .video-container object, .video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

section.innerPage-gradient {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,f9f2e6+28,f9f2e6+28,78b2e3+51,78b2e3+67,78b2e3+67,ffffff+93,ffffff+93 */
    background: rgb(255, 255, 255);

    /* Old browsers */
    background: -moz-linear-gradient(top, rgb(255, 255, 255) 0%, rgb(249, 242, 230) 28%, rgb(249, 242, 230) 28%, rgb(120, 178, 227) 51%, rgb(120, 178, 227) 67%, rgb(120, 178, 227) 67%, rgb(255, 255, 255) 93%, rgb(255, 255, 255) 93%);

    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgb(255, 255, 255) 0%, rgb(249, 242, 230) 28%, rgb(249, 242, 230) 28%, rgb(120, 178, 227) 51%, rgb(120, 178, 227) 67%, rgb(120, 178, 227) 67%, rgb(255, 255, 255) 93%, rgb(255, 255, 255) 93%);

    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgb(255, 255, 255) 0%, rgb(249, 242, 230) 28%, rgb(249, 242, 230) 28%, rgb(120, 178, 227) 51%, rgb(120, 178, 227) 67%, rgb(120, 178, 227) 67%, rgb(255, 255, 255) 93%, rgb(255, 255, 255) 93%);

    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 );

    /* IE6-9 */

    margin-bottom: 30px;
    padding: 30px 0;

    .author {
        color: $white;
        font-style: italic;
        float: right;
        display: block;
    }
}

section.dashboard-content {
    background-color: $light-grey !important;
    font-family: 'Raleway', sans-serif;
    padding: 20px 0;
    margin-top: -20px;
    display: table;

    .icon-wrapper {
        display: block;
        text-align: center;
        margin-right: auto;
        margin-left: auto;
        width: 100%;

        .hvr-underline-from-center {
            margin-top: -155px;
        }

        ul {
            display: table;
            list-style: none;
            width: 100%;
            margin: 0 0 20px;
            padding: 0;

            li {
                display: table-cell;
                width: 10%;
                text-align: center;

                a {
                    display: inline-block;

                    img {
                        display: block;
                        width: 100px;
                        border: none;
                        margin-left: auto;
                        margin-right: auto;
                        margin: 15px;
                    }

                    span.icon-title {
                        display: block;
                        color: $text-color;
                        text-transform: uppercase;
                        font-weight: bold;
                        margin-top: 5px;
                        margin-left: auto;
                        margin-right: auto;
                    }

                    &:hover {
                        img {
                            opacity: 0.5;
                            filter: alpha(opacity = 50);
                        }

                        span.icon-title {
                            color: $dark-blue;
                            opacity: 1.0 !important;
                            filter: alpha(opacity = 100) !important;
                        }
                    }
                }

                a.active {
                    // -webkit-box-shadow: 0px 0px 15px 6px rgba(251, 177, 72, 1);
                    //  -moz-box-shadow: 0px 0px 15px 6px rgba(251, 177, 72, 1);
                    //  box-shadow: 0px 0px 15px 6px rgba(251, 177, 72, 1);
                    //border: 3px solid $orange;
                    background-color: #ccc;

                    //span.icon-title {
                    //      color: $white;
                    //  }
               
                }

                a > img.active {
                    //-webkit-box-shadow: 0px 0px 15px 6px rgba(251, 177, 72, 1);
                    // -moz-box-shadow: 0px 0px 15px 6px rgba(251, 177, 72, 1);
                    //box-shadow: 0px 0px 15px 6px rgba(251, 177, 72, 1);
                    // background-color: $orange;
                    border: 3px solid $orange;
                }
            }
        }
    }
}

// Add bullet style back for wysiwyg

#block-system-main {
    ul {
        list-style: initial;
        margin: initial;
        padding: 0 0 0 40px;
    }

    li {
        display: list-item;
    }
}

/////// END INTERNAL PAGE STYLING ///////

/* Urban Institute Content */

#sidebar {
    width: 250px;
    height: 97%;
    position: absolute;
    top: -98px;
    bottom: 0;
    padding: 0;
    margin: 0 0 0 -41px;
    display: inherit;
}

#sidebar ul {
    height: 100%;
    padding: 0;
    margin: 0;
}

#sidebar ul li {
    list-style: none;
    background-color: #fff;
    float: left;
    width: 186px;
    height: 102px;
    box-sizing: border-box;
    text-transform: uppercase;
    color: #fff;
    margin: 11px 0 7px 44px;
}

#photo1 {
    background-image: url(../img/photo1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

#photo2 {
    background-image: url(../../img/photo2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

#photo3 {
    background-image: url(../../img/photo3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

#photo1 a, #photo2 a, #photo3 a, #photo4 a {
    width: 100%;
    height: 100%;
    display: block;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.3);
    border-bottom: solid 1px #fff;
}

#photo1 h4 {
    position: absolute;
    margin-left: 50px;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px !important;
    margin-top: 40px;
}

#photo2 h4 {
    position: absolute;
    margin-left: 37px;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px !important;
    margin-top: 40px;
}

#photo3 h4 {
    position: absolute;
    margin-left: 30px;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px !important;
    margin-top: 40px;
}

#sidebar h4 a {
    text-decoration: none !important;
}

#sidebar h4 a:hover {
    text-decoration: underline;
    color: #F9F188;
}

.credits {
    font-size: 12px;
    text-transform: uppercase;
    color: #666;
    padding-bottom: 30px;
}

.social {
    width: 175px;
    height: 40px;
    margin-bottom: 10px;
    margin-top: 40px;
}

.date {
    font-size: 12px;
    text-transform: uppercase;
    color: #666;
    margin-top: 0px;
}

.bold {
    font-weight: 700;
}

.demo_style {
    color: #666;
    font-weight: 400;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
}

.demo_style th {
    padding-bottom: 15px;
    padding-top: 15px;
    border-bottom: 1px solid #dddddd;
    border-top: 1px solid #dddddd;
    margin-bottom: 30px;
}

.demo_style td {
    padding: 10px 80px 7px 4px;
    border-bottom: 1px solid #dddddd;
}

.storywrapper {
    //  margin-left: 50px;

    figure img {
        margin: 0;
    }
}

figcaption {
    font-size: 13px;
    color: #666;
    line-height: 1.3;
    position: relative;
    top: -13px;
}

//@media (max-width: 950px)
//@media (max-width: 850px)
@media (max-width: 699px) {
    .half {
        width: 100%;
        margin-bottom: 10px;
    }
}

.pull {
    font-size: 26px;
    font-style: italic;
    font-weight: 300;
    color: #1696d2;
    margin-bottom: 10px;
    margin-left: 20px;
}

.right {
    float: right;
}

.half {
    width: 49.5%;
    margin-top: 3px;
    margin-bottom: 10px;
}

.attribute {
    font-size: 14px;
    color: #666;
    line-height: 1.3;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu > .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover > .dropdown-menu {
    display: block;
}

.dropdown-submenu > a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover > a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left > .dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

.table-scroll-wrapper {
    overflow-x: scroll;
}

// animate title

.animated {
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.animated.infinite {
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

.animated.hinge {
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
}

.animated.flipOutX,
.animated.flipOutY,
.animated.bounceIn,
.animated.bounceOut {
    -webkit-animation-duration: .75s;
    animation-duration: .75s;
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

.page-contact label {
    margin-top: 15px;
    width: 200px;
}

.page-contact .form-textarea-wrapper.resizable.textarea-processed.resizable-textarea {
    max-width: 697px;
}

.page-contact input[type="submit"] {
    padding-top: 7px;
    padding-bottom: 4px;
    text-transform: uppercase;
    background: #9cbdd9;
    border: solid #4a8cc4;
    max-width: 185px;
}

input, select {
    width: 100%;
}

select {
    max-width: 497px;
}

button, input, select, textarea {
    border: solid 1px;
}

.form-text {
    /*max-width: 300px;*/
}

#edit-basic {
    max-width: 200px;
    border-radius: 4px;
}

#edit-submit, #edit-submit--2 {
    margin-top: 20px;
    border-radius: 4px;
    background-color: $light-blue;
    border: none;
    color: $white;
    width: 140px;
    height: 40px;
}

.page-search-node {
    .fieldset-title {
        font-size: 20px;
        margin-top: 10px;
    }

    a.fieldset-title {
        text-decoration: none;
    }

    .fieldset-legend {
        margin-top: 10px;
    }

    .search-form {
        margin-bottom: 1em;
        background-color: #eaeaea;
        padding: 20px;
    }

    label {
        font-size: 18px;
    }

    #edit-type input {
        width: auto;
    }

    .search-results h3.title {
        font-size: 18px !important;
    }
}

input#edit-keys {
    height: 40px;
    font-size: 20px;
    border-radius: 8px;
    border: solid #c8c8c8 2px;
}

input#edit-or, input#edit-phrase, input#edit-negative {
    height: 30px;
    max-width: 250px;
    max-width: 190px;
    padding-top: 15px;
    border-radius: 8px;
    border: solid #c8c8c8 2px;
}

html.js fieldset.collapsed {
    /* removes errant line in fieldset on search page*/
    border: none;
}

.page-node-87 ol {
    padding: 0 0 0 20px;
}

@mixin word-wrap {
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

a {
    @include word-wrap;
}

a.dashboard-icon-width .icon-title {
    overflow-wrap: none;
    word-wrap: none;
    -ms-word-break: none;
    word-break: none;
    -ms-hyphens: none;
    -moz-hyphens: none;
    -webkit-hyphens: none;
    hyphens: none;
}

input.facetapi-checkbox {
    width: inherit;
}

span.fa.fa-file-pdf-o.infographic {
    color: #cd4107;
    display: block;
    margin: 0;
    font-size: 38px;
    float: left;
}
