// PLACE VARIABLES HERE IF YOU WISH. IT IS A GOOD PRACTICE TO DECLARE YOUR VARIABLES IN ONE PLACE. YOU DO NOT HAVE TO, BUT IT COULD MAKE THINGS EASIER FOR YOU.

$white: #fff;
$orange: #FF8C00;
$light-blue: #4a8cc4;
$dark-blue: #0d5b9b;
$search-color: #7e8999;
$dark-grey: #333;
$light-grey: #cecece;
$background-blue: #bdcde7;
$feature-blue: #e7f4ff;
$text-color: #333;
$circle-size: 160px;
$panel-tab-color: #eee;
$media-header-color: #8A8A8A;
$red: #a7090f;

// ICON COLORS

$icon-blue: #273992;
$icon-rust: #a04a39;
$icon-yellow: #f0c418;
$icon-dark-green: #20523e;
$icon-olive: #9cac3b;
$icon-purple: #606192;
$icon-brown: #9a8337;
$icon-magenta: #b1376f;
$icon-tan: #c6832a;
$icon-mint-green: #2bba95;

// END ICON COLORS

// END VARIABLES

////////// ICON BACKGROUND COLORS FOR MOBILE VIEW ////////

.icon-blue {
    background-color: $icon-blue;
}

.icon-rust {
    background-color: $icon-rust;
}

.icon-yellow {
    background-color: $icon-yellow;
}

.icon-dark-green {
    background-color: $icon-dark-green;
}

.icon-olive {
    background-color: $icon-olive;
}

.icon-purple {
    background-color: $icon-purple;
}

.icon-brown {
    background-color: $icon-brown;
}

.icon-magenta {
    background-color: $icon-magenta;
}

.icon-tan {
    background-color: $icon-tan;
}

.icon-mint-green {
    background-color: $icon-mint-green;
}

//////////// OVERRIDE HOVER.CSS /////////////

.hvr-underline-from-center {
    &:before {
        background: none !important;
    }
}

.no-top-image {
    margin-top: 0;
}

////////// OVERRIDE LIST GROUP ITEM STYLE ///////////////

.list-group-item {
    padding: 0px !important;
    margin-bottom: 0px !important;
    background-color: none !important;
    border: none !important;
}

////// SETTINGS FOR DATA COLLAPSABLE PANEL /////////

.panel-group {
    .panel-default > .panel-heading, .panel-heading {}

    .panel-heading {
        padding: 5px 0;

        h3.panel-title {
            text-align: center;
            margin-left: auto;
            margin-right: auto;

            .fa {
                margin-right: 20px;
            }

            span.description {
                display: block;
                text-align: center;
                max-width: 300px;
                margin-right: auto;
                margin-left: auto;
                line-height: 20px;
                font-size: 12px;
            }
        }
    }

    .panel-body {
        h4 {
            text-align: center;
            margin-left: auto;
            margin-right: auto;
            margin-top: 0;
        }

        hr {
            height: 3px;
        }

        p {
            margin-top: 0;
        }

        .media {
            img {}

            .media-heading {
                text-align: center;
                margin-left: auto;
                margin-right: auto;
                line-height: 25px;
                margin: 20px 0;
            }
        }
    }
}

/////////////////// STYLE THE DROPDOWNS FOR NAVIGATION ///////////////

li.open > ul.dropdown-menu {
    width: 100% !important;
    background-color: none !important;
    margin: 0;
}

li.open > ul.dropdown-menu > li {
    width: 100% !important;
    cursor: pointer;
    padding-bottom: 8px;
}

li.open > ul.dropdown-menu > li > a {
    width: 100% !important;

    &:hover {
        background-color: $orange !important;
    }
}

////////////////////////// STYLE THE VIDEO //////////////////////

.video-space {}

.video-title {
    .fa {
        margin-right: 10px;
    }
}

h2.video {}

////////////////////////// END STYLE THE VIDEO //////////////////////

#accordion .panel-title {
    padding-left: 10px;
    padding-right: 10px;
}
