// PLACE VARIABLES HERE IF YOU WISH. IT IS A GOOD PRACTICE TO DECLARE YOUR VARIABLES IN ONE PLACE. YOU DO NOT HAVE TO, BUT IT COULD MAKE THINGS EASIER FOR YOU.

$white: #fff;
$orange: #FF8C00;
$light-blue: #4a8cc4;
$dark-blue: #0d5b9b;
$search-color: #7e8999;
$dark-grey: #333;
$light-grey: #eee;
$background-blue: #bdcde7;
$feature-blue: #e7f4ff;
$text-color: #333;
$circle-size: 160px;
$panel-tab-color: #eee;
$media-header-color: #8A8A8A;
$red: #a7090f;

// ICON COLORS

$icon-blue: #273992;
$icon-rust: #a04a39;
$icon-yellow: #f0c418;
$icon-dark-green: #20523e;
$icon-olive: #9cac3b;
$icon-purple: #606192;
$icon-brown: #9a8337;
$icon-magenta: #b1376f;
$icon-tan: #c6832a;
$icon-mint-green: #2bba95;

// END ICON COLORS

// END VARIABLES

html, body {
    height: 100%;
    min-height: 100vh;
    background-color: $white;
}

h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 50px;
    color: $light-blue;
}

p {
    font-family: 'Raleway', sans-serif;
}

#promise-neighborhoods-wrap {
    min-height: 80vh;
}

.white {
    color: $white;
}

.orange {
    color: $orange;
}

.light-blue {
    color: $light-blue;
}

.dark-blue {
    color: $dark-blue;
}

.dark-grey {
    color: $dark-grey;
}

.light-grey {
    color: $light-grey;
}

.bg-white {
    background-color: $white;
}

.bg-orange {
    background-color: $orange;
}

.bg-light-blue {
    background-color: $light-blue;
}

.bg-dark-blue {
    background-color: $dark-blue;
}

.bg-light-grey {
    background-color: $light-grey;
}

h1.center {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

.row {
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.full-width {
    width: 100%;
}

.col-no-margin {
    margin-left: 0px !important;
    margin-right: 0px !important;
    padding: 0 !important;
}

hr {
    background-color: $light-blue;
    display: block;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0;
    margin-bottom: 0;
    height: 5px;
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border: none;
}

@mixin circle {
    color: $white;
    border-radius: 50%;
    width: $circle-size;
    height: $circle-size;
}

@mixin h1-header {
    display: block;
    width: 100%;
    margin: 0;
    padding: 20px 0;
    border-top: 10px solid $orange;
    border-left: 10px solid $orange;
    border-right: 10px solid $orange;
    font-weight: normal;
    font-size: 50px;
}

@mixin curve-head {
    display: block;
    position: relative;

    //border-radius: 50% 50% 0 0 / 15%;
    color: $white;
    background-color: $orange;
    min-height: 100px;
    padding: 40px 10px 10px;
}

/*accordion*/

#accordion {
    a {
        .panel-title {
            text-transform: uppercase;
            line-height: 20px;
            color: #fff;
            font-size: 16px;
            padding: 10px;
        }
    }

    h4.panel-heading {
        color: #fff;
    }

    h4.panel-title + p {
        display: none;
    }
}

.promise-neighborhoods-content #accordion a {
    text-decoration: none;
}

////////// ICON BACKGROUND COLORS FOR MOBILE VIEW ////////

/*Also applies to accordion on data page -PB */

#accordion .icon-blue, .icon-blue {
    background-color: $icon-blue;
}

#accordion .icon-rust, .icon-rust {
    background-color: $icon-rust;
}

#accordion .icon-yellow, .icon-yellow {
    background-color: $icon-yellow;
}

#accordion .icon-dark-green, .icon-dark-green {
    background-color: $icon-dark-green;
}

#accordion .icon-olive, .icon-olive {
    background-color: $icon-olive;
}

#accordion .icon-purple, .icon-purple {
    background-color: $icon-purple;
}

#accordion .icon-brown, .icon-brown {
    background-color: $icon-brown;
}

#accordion .icon-magenta, .icon-magenta {
    background-color: $icon-magenta;
}

#accordion .icon-tan, .icon-tan {
    background-color: $icon-tan;
}

#accordion .icon-mint-green, .icon-mint-green {
    background-color: $icon-mint-green;
}

//////////// OVERRIDE HOVER.CSS /////////////

.hvr-underline-from-center {
    &:before {
        background: $orange !important;
    }
}

//TURN OFF NAV MAX HEIGHT TO REMOVE SCROLLBAR WHEN IN MOBILE

.navbar-fixed-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse {
    max-height: none !important;
}

////// SETTINGS FOR DATA COLLAPSABLE PANEL /////////

.panel-group {
    .panel-default > .panel-heading, .panel-heading {
        background-color: $panel-tab-color;

        &:hover {
            color: $white !important;
        }
    }

    a[class="toggle_link"] {
        text-decoration: none !important;
    }

    .fa-toggle-up {
        display: none;
    }

    a[aria-expanded="false"] {
        .fa-toggle-down {
            display: inline-block;
        }

        .fa-toggle-up {
            display: none;
        }
    }

    a[aria-expanded="true"] {
        .fa-toggle-down {
            display: none;
        }

        .fa-toggle-up {
            display: inline-block;
        }
    }

    .panel-heading {
        display: block;

        .panel-title {
            color: $dark-blue;
            font-weight: bold;
            font-size: 22px;
            text-align: left;
            margin: 0 !important;
            padding: 0;
            text-transform: none;

            .fa {
                float: right;
            }

            &:hover {
                color: $white !important;
            }
        }

        &:hover {
            background-color: $light-blue;
            color: $white !important;
        }

        span.description {
            display: inline-block;
            font-size: 14px;
            font-weight: bold;
            color: $text-color;
            margin-left: 20px;

            &:hover {
                color: $white !important;
            }
        }
    }

    .panel-body {
        h4 {
            color: $dark-blue;
        }

        hr {
            width: 100%;
            background-color: $media-header-color;
            margin: 30px 0;
        }

        .media {
            display: block;
            width: 100%;

            img {
                display: block;
                margin-right: auto;
                margin-left: auto;
                width: 80px;
            }

            .media-heading {
                color: $media-header-color;
                display: block;
                font-size: 20px;
                margin-left: auto;
                margin-right: auto;
                text-align: center;
                margin-top: 15px;

                //line-height: 50px;
           
            }
        }
    }
}

/////////////////// STYLE THE DROPDOWNS FOR NAVIGATION ///////////////

.nav > li > a:hover, .nav > li > a:focus {
    background-color: $dark-blue;
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    background-color: $orange;
}

li.open > ul.dropdown-menu {
    display: table !important;
    background-color: $dark-blue;
    margin-top: 0px !important;
}

.promise-neighborhoods-header > nav > ul > li > ul.dropdown-menu {
    background-color: $dark-blue;
    margin-top: 0 !important;
    left: 70px !important;
}

ul.dropdown-menu > li {
    display: block !important;
    width: initial !important;
    text-align: left !important;
    cursor: pointer;

    &:hover {
        background-color: $orange;
    }
}

ul.dropdown-menu > li > a {
    color: $white !important;
    font-size: 14px;

    // text-transform: none !important;
    cursor: pointer;

    &:hover {
        color: $text-color !important;
    }
}

////////////////////////// STYLE THE VIDEO //////////////////////

.video-space {
    margin-bottom: 40px;
}

.video-title {
    display: block;
    width: 100%;
    text-align: center;
    color: $text-color;
    font-weight: bold;
    margin-top: 10px;
    margin-right: auto;
    margin-left: auto;

    .profile {
        color: $red;
    }

    .infographic {
        color: $dark-blue;
    }

    .left {
        text-align: -webkit-left;
    }

    .fa {
        font-size: 25px !important;
        margin-right: 10px !important;
    }

    a {
        color: $text-color !important;
        margin-bottom: 15px;
        display: block;

        &:hover {
            color: $dark-blue !important;
        }
    }
}

h2.video {
    display: block;
    color: $light-blue;
    font-size: 34px;
    font-weight: normal;
    width: 90%;
    margin-bottom: 20px !important;
    margin-left: auto !important;
    margin-right: auto !important;
    padding: 20px 0px;
    text-align: center !important;
}

////////////////////////// END STYLE THE VIDEO //////////////////////

/////////////////////// TEST PAULA SCSS ///////////////////

.paula-class {
    display: table;
    color: #fff;
    border: 1px solid $red;
}

.page-node-95 .container {
    .col-lg-8.col-sm-8.col-xs-12 p {
        margin-bottom: 50px;
    }

    img {
        margin-top: 20px;
    }
}

/* Grow Rotate */
.hvr-grow-rotate {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}

.hvr-grow-rotate:hover, .hvr-grow-rotate:focus, .hvr-grow-rotate:active {
    -webkit-transform: scale(1.1) rotate(4deg);
    transform: scale(1.1) rotate(4deg);
}

/* fix for "element invisible*/
.element-invisible {
    border: 0;
    clip: rect(1px 1px 1px 1px);

    /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute !important;
    width: 1px;
}

.element-invisible.element-focusable:active,
.element-invisible.element-focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static !important;
    width: auto;
}

/* news archives styling*/
.page-news-archives h4 {
    margin: 2.0em 0 0 0;
}

////////// REMOVE THE UNDERLINES FROM THE DASHBOARD ICONS FROM THE DRUPAL FIX ////////////

.dashboard-icon-width {
    text-decoration: none !important;
}

/////// FIX THE HIGH CHART FONTS /////////

tspan, text {
    font-family: 'Raleway', sans-serif !important;
    font-size: 14px !important;
}

.hide_overflow {
    overflow: hidden;
}
