// PLACE VARIABLES HERE IF YOU WISH. IT IS A GOOD PRACTICE TO DECLARE YOUR VARIABLES IN ONE PLACE. YOU DO NOT HAVE TO, BUT IT COULD MAKE THINGS EASIER FOR YOU.

$white: #fff;
$orange: #FF8C00;
$light-blue: #4a8cc4;
$dark-blue: #0d5b9b;
$search-color: #7e8999;
$dark-grey: #333;
$light-grey: #cecece;
$background-blue: #bdcde7;
$feature-blue: #e7f4ff;
$text-color: #333;
$circle-size: 160px;

// END VARIABLES

.no-top-image {
    margin-top: 128px;
}
