.promise-neighborhoods-footer {
    .footer-info {
        h2 {
            font-size: 20px;
        }

        img {}

        ul {
            display: block;
            text-align: center;

            li {
                text-align: center;
                line-height: 30px;

                a {
                    &:hover {}
                }

                ul {
                    display: block;

                    li {
                        text-align: center;

                        a {
                            &:hover {}
                        }
                    }
                }

                .fa {
                    margin-right: 10px;
                    margin-left: 10px;
                }
            }
        }

        ul.right {
            display: block;
            float: none;
            padding-top: 20px;

            li {
                text-align: center;
            }
        }
    }
}
