.promise-neighborhoods-footer {
    display: block;
    clear: both;
    bottom: 0;
    width: 100%;
    min-height: 100px;
    padding: 30px;
    background-color: $dark-blue;
    font-weight: normal;
    color: $white;

    .footer-info {
        display: block;
        margin: 0;
        padding: 0;

        h2 {
            display: block;
            text-transform: uppercase;
            text-align: center;
            color: $white;
            font-size: 25px;
            margin-bottom: 30px;
        }

        img {
            display: block;
            margin-right: auto;
            margin-left: auto;
            width: 140px;
        }

        ul.left-footer {
            padding: 20px 0;
        }

        ul.contact-us {
            padding: 20px 0 !important;
        }

        ul {
            text-decoration: none;
            margin: 0;
            padding: 0;

            li {
                display: block;
                font-family: 'Raleway', sans-serif;

                a {
                    text-decoration: none;
                    color: $white;

                    &:hover {
                        color: $orange;
                        text-decoration: underline;
                    }
                }

                ul {
                    display: block;
                    text-decoration: none;
                    margin: 0;
                    padding: 0;

                    li {
                        display: inline-block;

                        a {
                            text-decoration: none;
                            color: $white;

                            &:hover {
                                color: $orange;
                                text-decoration: underline;
                            }
                        }
                    }
                }

                .fa {
                    font-size: 22px;
                    font-weight: bold;
                }
            }
        }

        ul.right {
            li {
                text-align: right;
            }
        }
    }

    section.bottom-links {
        margin: 0 0 30px;
        display: block;
        font-size: 14px;
        text-align: left;

        h3 {
            text-align: left;
            font-size: 16px;
            font-weight: bold;
            margin-bottom: 10px;
        }

        ul {
            list-style: none;

            li {
                text-align: left;

                a {
                    color: $white;
                    font-size: 12px;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}
