.promise-neighborhoods-header {
    nav {
        .navbar-header {
            .navbar-brand {}
        }

        .navbar-nav {
            margin: 10px 0px;
            display: block;
            background-color: $light-blue;
            width: 100%;
        }

        ul.dropdown-menu > li > a {
            font-size: 14px;
            text-align: center !important;
        }

        .navbar-form {
            margin-top: 0px;
            padding: 0;
            border: none;

            .form-control {}

            i.form-control-feedback {}
        }

        .navbar-fixed-top {
            position: inherit !important;
        }

        ul {
            display: block;
            width: 100%;

            li {
                width: 100%;

                &:hover {
                    background-color: $dark-blue;
                }

                a {
                    display: block;
                    width: 100%;

                    &:hover {
                        border: none !important;
                    }
                }

                a.active {
                    background-color: $dark-blue;
                    border: none !important;
                    text-align: center;
                }
            }
        }
    }
}

.promise-neighborhoods-header .navbar-fixed-top {
    position: inherit;
}

.navbar-nav .open .dropdown-menu > li > a {
    padding: 0;
}
